{block content}

<div id="page">

<h1>Kolobazar</h1>

<div id="top-menu">
	<p>Přidání nového inzerátu</p>
</div>

<div id="table">
	<div id="ad">

	{form ad}
		{label title /} {input title}
		{input submit}
	{/form}


	</div>
</div>


</div>	<!-- /page -->

{/block}
